<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

   <!-- Footer Elements -->
    <div class="container mt-4">
        <!-- Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
                <div class="mb-5 flex-center">
                    <!-- Github -->
                    <a target="_blank" href="https://github.com/luisfuentech" class="git-ic">
                        <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <!-- Twitter -->
                    <a target="_blank" class="tw-ic" href="https://twitter.com/luisfuentech">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a target="_blank" class="ins-ic" href="https://instagram.com/luisfuentech">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a target="_blank" class="li-ic" href="https://www.linkedin.com/in/luis-fuentech">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">Kardex Inventario <year id="year"></year> © Copyright. Developed with
        <i class="far fa-heart"></i> by: <a href="https://github.com/LuisFuenTech">Luis Fuentes</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
