<div class="jumbotron mt-4">
    <h1 class="display-4">Kardex</h1>
    <p class="lead">Algo sobre kardex</p>
    <hr class="my-4">
    <p>Más cositas interesantes sobre kardex. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio id omnis
        placeat qui itaque mollitia. Ipsum laborum nisi esse necessitatibus magni soluta distinctio, consequatur nulla
        suscipit velit, dolorem, sunt libero.
    </p>
</div>