<div class="jumbotron mt-4">
    <h1 class="display-4">Control de inventario</h1>
    <p class="lead">Algo sobre control de inventario</p>
    <hr class="my-4">
    <p>Más datos interesantes sobre kardex, promedio y peps.
    </p>
</div>