<div class="col mx-auto mt-4">
    <h1>Los Tocayos</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam debitis sunt sapiente repudiandae quae animi
        ipsam perferendis fugiat laudantium suscipit numquam soluta, vel praesentium dolor blanditiis culpa illo non
        corporis.</p>
</div>