<div class="col mx-auto mt-0">
    <br>
    <p>Aplicativo web realizado para realizar el Control de inventario por medio de los métodos: Promedio ponderado y
        PEPS</p>

    <h5>
        <strong>Autores:</strong>
    </h5>
    <ul>
        <li><a href="https://github.com/luisfuentech" target="_blank">Luis Fuentes</a></li>
        <li><a href="https://github.com/SergioMercado" target="_blank">Sergio Mercado</a></li>
        <li><a href="#">Maicol Vergara</a></li>
        <li><a href="#">Jonathan Gil</a></li>
        <li><a href="https://github.com/CristianJDelRio" target="_blank">Cristian Del río</a></li>
        <li><a href="https://github.com/lucman2" target="_blank">Luis Rodriguez</a></li>
    </ul>

</div>
