<div class="col mx-auto mt-0">
    <br>
    <p>Aplicativo web realizado para realizar el Control de inventario por medio de los métodos: Promedio ponderado y
        PEPS</p>

    <h5>
        <strong>Autores:</strong>
    </h5>
    <ul>
        <li>Sergio Mercado</li>
        <li>Maicol Vergara</li>
        <li>Jonathan Gil</li>
        <li>Cristian Del río</li>
        <li>Luis Rodriguez</li>
        <li>Luis Fuentes</li>
    </ul>

</div>