<div class="row">
    {{> actions productos = rs articulo = item }}

    <div class="col-sm-9 mx-auto mt-4">
        <div class="table-wrapper-scroll-y my-custom-scrollbar mt-20">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark" align="center">
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="3">
                                <div align="center">Compras/Ingresos</div>
                            </th>
                            <th colspan="3">
                                <div align="center">Ventas/Egresos</div>
                            </th>
                            <th colspan="3">
                                <div align="center">Saldo</div>
                            </th>
                        </tr>
                    </thead>
                    <thead class="thead-dark" align="center">
                        <tr>
                            <th>Fecha</th>
                            <th>Detalle</th>
                            <th>Q</th>
                            <th>CU</th>
                            <th>CT</th>

                            <th>Q</th>
                            <th>CU</th>
                            <th>CT</th>

                            <th>Q</th>
                            <th>CU</th>
                            <th>CT</th>
                        </tr>
                    </thead>
                    <tbody id="kardex-table" align="center">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>