<div class="col mx-auto mt-4">
    <table class="table">
        <thead class="thead-dark" align="center">
            <tr>
                <th>Fecha</th>
                <th>Detalle</th>
                <th colspan="3">
                    <div align="center">Compras/Ingresos</div>
                </th>
                <th colspan="3">
                    <div align="center">Ventas/Egresos</div>
                </th>
                <th colspan="3">
                    <div align="center">Saldo</div>
                </th>
            </tr>
        </thead>
        <thead class="thead-dark" align="center">
            <tr>
                <th></th>
                <th></th>
                <th>Q</th>
                <th>CU</th>
                <th>CT</th>

                <th>Q</th>
                <th>CU</th>
                <th>CT</th>

                <th>Q</th>
                <th>CU</th>
                <th>CT</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr>
                <th>2019-06-29</th>
                <td>Compra</td>
                <td>25</td>
                <td>1000</td>
                <td>25000</td>

                <td></td>
                <td></td>
                <td></td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>
            </tr>
            <tr>
                <th>2019-06-29</th>
                <td>Compra</td>
                <td>25</td>
                <td>1000</td>
                <td>25000</td>

                <td></td>
                <td></td>
                <td></td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>
            </tr>
            <tr>
                <th>2019-06-29</th>
                <td>Venta</td>
                <td></td>
                <td></td>
                <td></td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>


            </tr>
            <tr>
                <th>2019-06-29</th>
                <td>Compra</td>
                <td>25</td>
                <td>1000</td>
                <td>25000</td>

                <td></td>
                <td></td>
                <td></td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>
            </tr>
            <tr>
                <th>2019-06-29</th>
                <td>Venta</td>
                <td></td>
                <td></td>
                <td></td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>


            </tr>
            <tr>
                <th>2019-06-29</th>
                <td>Compra</td>
                <td>25</td>
                <td>1000</td>
                <td>25000</td>

                <td></td>
                <td></td>
                <td></td>

                <td>25</td>
                <td>1000</td>
                <td>25000</td>
            </tr>
        </tbody>
    </table>
</div>