<div class="row">
    <div class="col-4">
        {{> new_article}}
    </div>

    <div class="col mx-auto mt-4">

        <div class="table-wrapper-scroll-y my-custom-scrollbar mt-20">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead class="thead-dark" align="center">
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody align="center">

                        {{#each rs}}
                        <tr>
                            <td>{{this.nombre_producto}}</td>
                            <td>{{this.cantidad_producto}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>