<div class="row">
    {{> new_article_peps productos = rs }}

    <div class="col-sm-9 mx-auto mt-4">
        <div class="table-wrapper-scroll-y my-custom-scrollbar mt-0">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark" align="center">
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>

                    <tbody id="product-peps-table" align="center"> </tbody>
                </table>
            </div>
        </div>
    </div>
</div>